.bg{
    background-color: transparent;
}

.navbar-brand{
    font-family: Inter;
    color : black !important;
    font-size : 4vh !important;
    font-weight : 800;
}

.navbar-item{
    font-family : Inter;
    color : rgba(0, 0, 0, 0.517);
    font-size : 2.5vh;
    font-weight : 500;
    text-decoration: none;
    margin-left: 2rem;
}


.dropdown-item{
    font-family : Inter;
    color : black;
    font-size : 2vh;
    font-weight : 500;
    text-decoration: none;
    margin-left: 1rem;
};
